*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    
     
}

body{
background-color:hsla(188,100%,50%,1);
background-image:
radial-gradient(at 40% 20%, hsla(240,64%,50%,1) 0px, transparent 50%),
radial-gradient(at 80% 0%, hsla(260,58%,31%,1) 0px, transparent 50%),
radial-gradient(at 0% 50%, hsla(195,29%,54%,1) 0px, transparent 50%),
radial-gradient(at 0% 100%, hsla(240,67%,24%,1) 0px, transparent 50%),
radial-gradient(at 80% 100%, hsla(242,100%,70%,1) 0px, transparent 50%),
radial-gradient(at 0% 0%, hsla(264,93%,54%,1) 0px, transparent 50%);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
   
     
}

.container .window{
 
    position: absolute;
    margin:10% 20% 10% 25%;
    display: flex;
    background-color: rgb(140, 243, 76);
    border-radius: 20px;
    height: 80%;
    transition: transform 0.3s ease;  
    
}

.container .window:hover{
   transform: scale(1.15); 
}

.container .window .image{
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}

.container .window .image img{
    width: 105%;
    position: relative;
    height: 105%;
    z-index: 10;
    display: block;
    border-radius: 20px;
    box-shadow:4px 4px 20px black;
   
}

.container .window .details{
    position: relative;
    padding:5%;
    width: 60%;
    text-align: left;
    z-index: 9;
    box-shadow: 2px 2px 2px black;
    border-radius: 20px;
    
    
}

.container .window .details h1,h2,h3{
    line-height: 50px;

}

.container .window .details h1{
    text-shadow: 2px 2px 2px white;
    font-size: 40px;
}

.container .window .details h3{
    color:red;
    text-shadow:1px 2px 2px black;
    font-size: 32px;
}

.container .window .details p{
    padding-top:20px;
    font-size: 19px;
    
}

form{
    position: absolute;
    left:50.7%;
    top:57%;
    z-index: 11;
    font-size: 18px;
   
}

.size-select{
    display: flex;
    justify-content: space-between;
    padding: 10px;

}

.para {
   padding-right: 45px;
   font-size: 25px;
}

.size-select label{
    padding: 10px;
    
}

.size-select input:checked + span {
    color: blue;
    font-weight: bold;
    font-size: 24px;
}

.size-select input{
    width:20px;
    height: 20px;
}

.color-select{
    display:flex;
    
}

.color-select label{
    padding: 5px 30px 10px 3px;
    
}

.color-select input{
    height: 30px;
    width:30px;
    cursor: pointer;
}

.color-select span {
    display: block;
    width: 25px;
    height: 25px;
    border: 2px solid black;
    border-radius: 50%;
}



#color-1 { accent-color: red; }
#color-2 { accent-color: green; }
#color-3 { accent-color: yellow; }
#color-4 { accent-color: black; }


.quentity{
    display: flex;
    padding-top: 10px;
    padding-right: 0px;
}

.quentity input{
    height:30px;
    border-radius: 20px;
    width:70px;
    padding-left: 10px;
    font-weight: bolder;
    font-size: 20px;
}

.submit{
    padding:10px;
    margin:15% 15% 5% 15%;
    border-radius: 30px;
    font-size: 25px;
    font-weight: bolder;
    background-color: rgb(6, 6, 6);
    width:70%;
    color:white;
    transition: transform 0.3s ease; 
    border: none;
    box-shadow: 2px 2px 2px black;

}

.submit:hover{
    background-color:rgb(255, 255, 25) ;
    color:black;
    transform: scale(1.15); 
    cursor: pointer;
}

.controlers{
    position:absolute;
    z-index: 30;
    bottom: 10%;
    right:55%;
    

}

.controlers .btn{
    display: block;
    border-radius: 50%;
    background-color: aliceblue;
    width: 10px;
    height:10px ;
  
}

.btn.active {
    background: blueviolet;
}

.controlers button{
    margin:10px;
    padding: 7px;
}

.controlers .btn:hover{
    cursor: pointer;
}