*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
     
}

.container{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
    background-color: blueviolet;
     
}

.container .window{
 
    position: absolute;
    margin:10% 20% 10% 25%;
    display: flex;
    background-color: rgb(173, 167, 158);
    height: 80%;
    transform: scale(1.15);
    

}

.container .window .image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .window .image img{
    width: 105%;
    position: relative;
    height: 105%;
    z-index: 10;
    display: block;
    border-radius: 20px;
    box-shadow:4px 4px 20px black;
}

.container .window .details{
    position: relative;
    width: 60%;
    display: flex;
    justify-content: center;
    z-index: 9;
    box-shadow: 2px 2px 2px black;
    border-radius: 20px;
    
}

.container .window .details p{
    width: 90%;
    padding: 5%;
    height: fit-content;
    
}

